* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --main-color: rgb(7, 39, 65)
}

header {
    background-color: var(--main-color)
}

#logo-navbar {
    height: 3rem;
}

.titles {
    font-family: "Neuton", serif;
}

#home-img {
    max-width: 100%;
    max-height: 600px;
}

.fs-lg-custom {
    font-size: 5rem;
}

div h1 {
    top: 15%;
    color: var(--main-color)
}

.photos-home {
    max-height: 400px;
    max-width: 100%;
}

.section-title-home {
    color: var(--main-color);
    font-weight: 700;
}


footer {
    background-color: var(--main-color);
    color: white;
}
