* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --main-color: rgb(7, 39, 65);
}

header {
    background-color: var(--main-color);
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
} 

#logo-navbar {
    height: 3rem;
}

.titles {
    font-family: "Neuton", serif;
}

#home-img-container {
    max-height: 550px;
    width: 100%;
}

#home-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 100% 70%;
    
}

.fs-lg-custom {
    font-size: 5rem;
}

div h1 {
    top: 15%;
    color: var(--main-color);
}

.photos-home {
    max-height: 400px;
    max-width: 100%;
}

.section-title-home {
    color: var(--main-color);
    font-weight: 700;
    text-align: center;
}

.par-styled-justified {
    text-align: justify;
    text-justify: inter-word;
}

footer {
    background-color: var(--main-color);
    color: white;
}
